.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px;
  font-size: 24px;

  img {
    height: 60px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      color: $color-1;
      margin-left: 60px;
    }

    a.active {
      text-decoration: underline;
      color: $color-1;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    font-size: 12px;
    margin: 20px;
    text-transform: uppercase;
    overflow: hidden;

    img {
      height: 30px;
    }
  }
}

@media screen and (max-width: 468px) {
  .navigation {
    font-size: 12px;
    text-transform: uppercase;

    ul {
      margin: 10px 0;

      a {
        margin: 0 0 0 10px;
      }
    }
  }
}