.about {
  .collapse {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

@media screen and (max-width:768px) {
  .about {
    width: 100%;
    margin: 0;


    .collapse {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

@media screen and (max-width:420px) {
  .about {
    .collapse {
      .header-collapse {
        .title-collapse {
          font-size: 13px;
        }
      }

      .description-collapse {
        font-size: 12px;
      }
    }
  }
}