.accueil {
  margin: 0 100px 20px;
  display: flex;

  .liste-datas {
    background-color: $color-4;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 60px;
    padding: 55px 50px;
    margin: auto;
  }
}

@media screen and (max-width:1024px) {
  .accueil {

    .liste-datas {
      grid-template-columns: 1fr 1fr;
      gap: 30px 40px;
      padding: 35px 20px;
    }
  }
}

@media screen and (max-width:768px) {
  .accueil {
    width: 100%;
    margin: 0;

    .liste-datas {
      background-color: $color-2;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
    }
  }
}